.hover_icon {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  visibility: hidden;
  color: #059e9b;
}

.ant-table-row:hover .hover_icon {
  visibility: visible !important;
}

.request_column {
  width: 20px;
  white-space: pre-wrap;
}
